/* Additional styles for the contact form */
#contact-form {
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#contact-form button {
  margin-top: 10px;
}
